/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-baggrund);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  /* colours */
  --color-blaa: #1c6ad4;
  --color-orange: #ea5b23;
  --color-grå: #212126;
  --color-baggrund: #f6f4e7;
}

h1 {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  font-style: normal;
  color: var(--color-blaa);
}

h2 {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: var(--color-orange);
}

h3 {
  font-family: "Kapakana", cursive;
  font-weight: normal;
  font-size: 4.5rem;
  font-style: normal;
  color: var(--color-blaa);
}

p {
  font-family: "HelveticaNeue-Thin", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  font-style: normal;
  letter-spacing: 0.06rem;
  color: var(--color-grå);
  max-width: 65ch;
  line-height: 25px;
}

.overskrifter {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.overskrift {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 200px;
}

@media (max-width: 840px) {
  p {
    font-size: 0.8rem;
    line-height: 20px;
  }

  h2 {
    font-size: 1rem;
  }
}
/********** Menu ***********/
header {
  place-items: center;
}

.logo {
  width: 150px;
}

.menu {
  list-style: none;
  margin: 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 250px;
}

.menu li a {
  text-decoration: none;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 1.5rem;
  color: var(--color-blaa);
}

.menu li a:hover {
  text-decoration: underline;
}

@media (max-width: 840px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }

  .logo {
    width: 100px;
  }

  .menu {
    gap: 70px;
  }
  .menu li a {
    font-size: 1rem;
  }

  header {
    margin-bottom: 50px;
  }
}

/********** Knapper *********/
.button1 {
  text-decoration: none;
  border: 1px solid var(--color-orange);
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  color: var(--color-orange);
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}

.button1:hover {
  border: 1px solid var(--color-orange);
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  color: var(--color-baggrund);
  background-color: var(--color-orange);
}

.button2 {
  text-decoration: none;
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-size: large;
  color: var(--color-blaa);
  border: none;
  cursor: pointer;
}
.button2:hover {
  text-decoration: underline;
}

.button3 {
  border: none;
  cursor: pointer;
}

@media (max-width: 840px) {
  .button1 {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
    margin-bottom: 10px;
    display: inline-block;
  }

  .button2 {
    font-size: smaller;
  }
}

@media (min-width: 840px) {
  .button1 {
    margin-top: 50px;
    display: inline-block;
  }
}

/********** Footer **********/

footer {
  border-top: 1px solid var(--color-orange);
  display: flex;
  gap: 500px;
}

.links {
  cursor: pointer;
  display: flex;
  gap: 50px;
  margin: 20px;
}

.footertekst {
  margin: 90px;
}
footer h2 {
  margin-bottom: 20px;
}

footer p {
  padding-bottom: 60px;
  font-size: 1rem;
}

.billedefooter img {
  width: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 840px) {
  .billedefooter img {
    display: none;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
  }

  footer {
    text-align: center;
    margin-top: 70px;
    gap: 0px;
  }

  footer h2 {
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  footer p {
    font-size: 0.8rem;
    padding-bottom: 60px;
  }
}
