.grid1-1 {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--color-orange);
  margin: 100px;
  margin-top: 200px;
  padding: 50px;
  gap: 150px;
}
.grid1-1 img {
  width: 390px;
  margin-left: 70px;
}

.grid1-1 p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 100px;
  margin-top: 0px;
  margin-bottom: 200px;
}

.grid1-1-1-1 h2 {
  padding-top: 20px;
}

.grid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 840px) {
  .overskrifter {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .grid1-1 {
    display: flex;
    margin: 20px;
    margin-bottom: 100px;
    padding: 10px;
    align-items: center;
    gap: 20px;
    max-width: 65ch;
  }
  .grid1-1 img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    object-position: -80px;
    margin-left: 0px;
  }
  .grid1-1 p {
    padding-top: 10px;
  }

  .grid1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 20px;
  }

  .grid1-1-1-1 h2 {
    padding-top: 0px;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid1-1-1-1 img {
    margin-bottom: 10px;
  }
}

@media (min-width: 840px) {
  .button3:hover {
    transform: scale(1.2);
  }
}
